.container-detalle {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding: 40px;
  font-family: "Fredoka", sans-serif;
}

.producto-detalle {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.producto-detalle img {
  max-width: 450px;
  height: auto;
  border-radius: 8px;
}

.detalle-info {
  flex: 1;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.descripcion,
.categoria,
.precio {
  font-size: 1rem;
  margin-bottom: 10px;
}

.gramos-seccion {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-cantidad {
  margin-bottom: 20px;
}

.agregar-al-carrito {
  max-width: 400px;
  padding: 10px 20px;
  background-color: #fecd03;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

button:hover {
  background-color: #ffd737;
}

/* Pestañas */
.tabs-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.tabs button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 30px 30px;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  border-bottom: 2px solid #fecd03;
  font-weight: bold;
}

.tab-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* Responsive */
@media (max-width: 768px) {
  .producto-detalle {
    flex-direction: column;
    align-items: center;
  }

  .detalle-info {
    text-align: center;
  }
}

